@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
  display: block;
  background-color: #fff;
}
body::-webkit-scrollbar {
  width: 0;  
  background: transparent; 
}
#root {
  width: 100%;
  min-height: 100%;
  display: block;  
} 
/* ICONS ANIMATIONS */
.currency {
    position: absolute;
    padding: 2px;
    transform-origin: center center;
    filter: blur(15px);
    animation: moving 20s linear infinite alternate;
    animation-delay: 0s;
    transform-origin: center center;
    transition: filter 0.3s ease, scale 0.4s ease;
    scale: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.currency:hover {
    filter: blur(0);
    scale: 1.3;
}
.currency::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: -1;
    box-sizing: border-box;
}
.currency::after {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 0.5px solid var(--border-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: -2;
}
.currency:hover::before , .currency:hover::after{
    opacity: 1;
    transform: scale(1);
}
.currency img{
  padding: 5px;
}
.priceWrapper {
  opacity: 0;
  filter: blur(15px);
  animation: priceMoving 20s linear infinite alternate;
  animation-delay: 0s;
  transform-origin: center center;
  transition: filter 0.3s ease, scale 0.4s ease,  opacity 0.3s ease;
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}
.currency:hover + .priceWrapper {
  opacity: 1;
  scale: 1.3;
  filter: blur(0px);
}
.priceWrapper p span {
  display: block;
  text-align: center;
}
/* ANIMATIONS */
@keyframes moving {
  0%{
        transform: translateY(0) rotate(-45deg);

    }
  12.5%{
    transform: translateY(-15px) rotate(-22.5deg);

  }
  25%{
    transform: translateY(0) rotate(0);

  }
  37.5%{
    transform: translateY(-15px) rotate(22.5deg);

  }
  50%{
    transform: translateY(0) rotate(45deg);

  }
  62.5%{
    transform: translateY(-15px) rotate(22.5deg);
  }
  75%{
    transform: translateY(0) rotate(0);
  }
  87.5%{
    transform: translateY(-15px) rotate(-22.5deg);
  }
  100%{
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes priceMoving {
  0%{
      transform: translateY(0) ;

    }
  12.5%{
    transform: translateY(-15px) ;

  }
  25%{
    transform: translateY(0) ;

  }
  37.5%{
    transform: translateY(-15px);

  }
  50%{
    transform: translateY(0);

  }
  62.5%{
    transform: translateY(-15px);
  }
  75%{
    transform: translateY(0) ;
  }
  87.5%{
    transform: translateY(-15px) ;
  }
  100%{
    transform: translateY(0) ;
  }
}
/* LOGIN FORM PART */
.login-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  pointer-events: none;
}

.login-form {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  width: 20%;
  text-align: center;
  align-items: center;
  pointer-events: auto;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 200, 143, 0.3); 
}
.logInInformations {
  width: 100%; 
  padding: 12px 16px; 
  margin: 10px 0; 
  font-size: 1rem; 
  border: 2px solid #ccc;
  border-radius: 12px; 
  outline: none;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.logInInformations:focus {
  border-color: #0033AD; 
  box-shadow: 0 0 6px rgba(0, 51, 173, 0.5);
}
.logInButton {
  width: 100%;          
  padding: 12px 16px; 
  margin-top: 12px; 
  font-size: 1rem;    
  font-weight: bold;       
  color: #fff;            
  background: #1b9a76;    
  border: none;         
  border-radius: 12px;     
  cursor: pointer;       
  transition: all 0.3s ease;  
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logInButton:hover {
  background:  #33b291;    
  transform: scale(1.05);   
}

.logInButton:active {
  transform: scale(0.98);  
  background-color: #158060;  
}
.loginTitle {
  color: #00e0a0; 
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  text-shadow: 0 2px 8px rgba(77, 175, 255, 0.6);
}
.loginHeader{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #00c88f;
  text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.9);
}

.loginFooter {
  color: #ccc;
  font-size: 1rem;
  margin-top: 1rem;
  text-align: center;
  pointer-events: auto;
}

.loginFooter a {
  color: rgba(230, 240, 255, 0.9);;
  text-decoration: none;
  font-weight: bold;
  color: #518677;
  text-shadow: 1px 1px 1px rgba(157, 230, 210, 0.7);
}

.loginFooter a:hover {
  text-decoration: underline;
}
.loginDiscription{
  font-size: 1.1rem;
  position: relative;
  top: 6%;
  color: rgba(128, 128, 128, 0.6);
  text-align: center;
  line-height: 1.4;  
  flex-direction: column;

}
.loginDiscription span{
  display: block;
}
/* HEADERS */
.header{
  position: fixed;
  padding: 0;
  top: 0;
  width: 100%;
  height: 10%;
  transition: background-color 0.3s ease;
  background-color: transparent;
  z-index: 7;      
  display: flex;
  align-items: center;
}
header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;  
  background-color: #00C797; 
  box-shadow: 0 0 6px 2px #00C797;
  opacity: 0;
}
.header nav{
  display: flex;         
  flex-direction: row;     
}
.header.scrolled {
  background-color: #2d2e2d;
}
.header.scrolled::after{
  opacity: 1;
}
.alitexText {
  font-size: 1.2rem;        
  margin-top: 0.8%;
  font-weight: bold;   
  color: #59c1a7; 
  letter-spacing: 1px;      
  text-shadow: 1px 1px 4px rgba(230, 240, 255, 0.9); 
  transition: color 0.3s ease, 
}
.header h2{
  margin-left: 6%;
  font-size: 1.1rem;
  align-items: center;
  justify-content: center;
  margin-top: 1%;
  color: #adadad;
  text-shadow: 1px 1px 4px rgba(230, 240, 255, 0.9); 
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

.header h2:hover {
  color: #3fcf97;
  text-shadow: 2px 2px 8px rgba(80, 240, 180, 0.9);
  transform: scale(1.1);
  cursor: pointer;
}
.searchBar {
  display: flex;
  align-items: center;
  position: relative;
  left: 33%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  width: 40%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.searchBar:hover {
  background-color: rgba(255, 255, 255, 0.35); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.searchInput {
  padding-left: 5%;
  border: none;
  outline: none;
  background: transparent;
  flex-grow: 1;
  font-size: 1rem;
  color: #59c1a7;
}
.searchIcon {
  width: 25px; 
  height: 25px;
  object-fit: contain;
}
.searchInput::placeholder {
  color: #b3b3b3;
  text-shadow: 0.2px 0.2px 1px rgba(132, 136, 141, 0.9);
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}
.searchBar:hover .searchInput::placeholder {
  color: #3fcf97;
  text-shadow: 2px 2px 8px rgba(80, 240, 180, 0.9);
  transform: scale(1.01);
}
.headerButton{
  position: relative;
  left: 60%;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 15px;
  font-size: 0.95rem;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  color: #fff;
}
#guideBtn {
  background-color: rgba(80, 240, 180, 0.8);
  margin-right: 20px;
  margin-left: 20%;
}
#guideBtn:hover {
  background-color: rgba(80, 240, 180, 1);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}
#guideBtn:active {
  background-color: rgba(63, 207, 151, 1);
  transform: translateY(1px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
#signupBtn {
  background-color: rgba(63, 207, 151, 0.9);
}
#signupBtn:hover {
  background-color: rgba(80, 240, 180, 1);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}
#signupBtn:active {
  background-color: rgba(50, 170, 120, 1);
  transform: translateY(1px);
  box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
/* STARTINGPAGE FEATURES PART  */
.features h2{
  font-weight: bolder;
  font-size: 3rem;
  position: relative;
  font-weight: bolder;
  margin-left: -60%;
  color: white;
  text-shadow: 1px 1px 2px rgba(80, 240, 180, 0.9);
}
.container {
  display: flex;
  width: 100%;
  height: 150vh;
  gap: 3%;
  padding: 0 8%; 
  box-sizing: border-box;
}

.box {
  flex: 1;
  display: flex;
  border-radius: 60px; 
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  cursor: pointer;
}
/* PINK BOX  */
.pink {
  background-color: rgba(255, 0, 238, 0.15);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
  padding: 5vh 6vh;
  gap: 1rem;
}
.webAppTitle{
  font-weight: bold;
  margin-left: 7px;
  font-size: 1.2rem;
  position: relative;
  left: 5vh;
  top: 1vh;
  color: rgb(255, 92, 171);
}
.laptopIcon{
  position: relative;
  top: 6vh;
  left: 2vh;
}
.pink h2{
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(255, 92, 171);
  text-shadow: 1px 1px 0.5px rgb(255, 92, 171 , 0.5);
  padding: 2vh 0 2vh 0;
}
.pink h3{
  font-size: 1.6rem;
  margin:0;
  direction: ltr;
  text-align: left;
  color: rgb(255, 92, 171);
}
.exploreTokens{
  margin: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  color: rgba(255, 92, 171 , 1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  background-color: rgba(255, 92, 171 , 0.3);
}
.exploreTokens:hover {
  background-color: rgba(255, 92, 171 , 0.5);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  
}
/* GREEN BOX  */
.green {
  background-color: rgba(63, 207, 151, 0.2);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
  padding: 5vh 6vh;
  gap: 1rem;
}
.webAppTitleg{
  font-weight: bold;
  margin-left: 7px;
  font-size: 1.2rem;
  position: relative;
  left: 5vh;
  top: 1vh;
  color: rgba(63, 207, 151, 0.8);
}
.laptopIcon{
  position: relative;
  top: 6vh;
  left: 2vh;
}
.green h2{
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(63, 207, 151, 0.8);
  text-shadow: 1px 1px 0.5px rgba(63, 207, 151, 0.4);
  padding: 2vh 0 2vh 0;
}
.green h3{
  font-size: 1.6rem;
  margin:0;
  direction: ltr;
  text-align: left;
  color: rgba(63, 207, 151, 0.8);
}
.exploreTokensg{
  margin: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  color : rgba(63, 207, 151, 1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  background-color: rgba(63, 207, 151, 0.3);
}
.exploreTokensg:hover {
  background-color: rgba(63, 207, 151, 0.5);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  
}
.priceBox {
  width: 90%;
  height: 10%;
  display: flex;
  align-items: center;  
  justify-content: flex-start;
  background-color: rgba(5, 5, 5, 0.7); 
  border-radius: 40px;
  padding: 0 1rem; 
  gap: 1rem;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.priceBox:hover {
  transform: scale(1.05);
  background-color: rgba(30, 30, 30, 0.5)
}
.iconTitle{
  margin: 0;
  margin-left: -5px;
  margin-top: 5px;
  font-weight: bolder;
  color: rgba(254, 254, 254, 0.7);
}
.iconStand{
  margin: 0;
  margin-left: -5px;
  margin-top: 5px;
  font-weight: bolder;
  color: rgba(254, 254, 254, 0.4);
}
.price-icon {
  margin: 0;
  margin-left: 20px;
  width: 40px; 
  height: auto;
}
.price-text {
  margin: 0;
  margin-left: 3vh;
  margin-top: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(254, 254, 254, 0.7);
}
.priceBox.tether .price-text{
  margin-left: 14vh;
  margin-right: 3vh;
}
.priceBox.ethereum .price-text{
  margin-left: 6vh;
}
.priceBox.uniswap .price-text{
  margin-left: 10vh;
  margin-right: 2vh;
}
.daily-change{
  margin: 0;
  margin-top: 4px;
  font-size: 1.2rem;
  font-weight: bold;
}
.container2 {
  display: flex;
  width: 100%;
  height: 80vh;
  gap: 3%;
  padding: 0 8%; 
  box-sizing: border-box;
}
/* WHITE BOX  */
.white {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
  padding: 5vh 6vh;
  gap: 1rem;
  overflow: hidden;
}
.white h2{
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.5) ;
  padding: 2vh 0 2vh 0;
}
.white h3{
  font-size: 1.6rem;
  margin:0;
  direction: ltr;
  text-align: left;
  color: white;
}
.exploreTokenss{
  margin: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  background-color: rgba(50, 50, 50, 1);
}
.exploreTokenss:hover {
  background-color: rgba(70, 70, 70, 1);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  
}
.white {
  background-color: rgba(248, 245, 255, 0.3)
;
  background-image:
    repeating-linear-gradient(
      to right,
      rgba(128, 128, 128, 0.3) ,
      rgba(128, 128, 128, 0.3)  0.5px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(128, 128, 128, 0.3) ,
      rgba(128, 128, 128, 0.3)  0.5px,
      transparent 1px,
      transparent 20px
    );
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
  padding: 5vh 6vh;
  gap: 1rem;
}
/* ORANGE BOX  */
.orange {
  background-color: rgba(255, 77, 0, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column; 
  padding: 5vh 6vh;
  gap: 1rem;
  overflow: hidden;
}
.orange h2{
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  color: rgba(255, 77, 0, 0.8);
  text-shadow: 1px 1px 0.5px rgba(255, 77, 0, 0.5);
  padding: 2vh 0 2vh 0;
}
.orange h3{
  font-size: 1.6rem;
  margin:0;
  direction: ltr;
  text-align: left;
  color: rgba(255, 77, 0, 0.8);
}
.exploreTokenso{
  margin: 1rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  color: rgba(255, 77, 0, 1);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
  background-color: rgba(255, 77, 0, 0.3);
}
.exploreTokenso:hover {
  background-color: rgba(255, 77, 0, 0.5);
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.25);
  
}
/* BACKGROUND ICONS  */
.lightningIcon{
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
  width: 400px;
  height: 400px;
  opacity: 0.4;
  filter: blur(15px);
}
.walletIcon{
  position: absolute;
  margin-left: 250px;
  margin-top: 330px;
  width: 150px;
  height: 150px;
  opacity: 0.4;
}
/* STARTINGPAGE FOOTERS  */
.footer {
  width: 100%;
  padding: 1.5rem 2rem;
  background-color: #1f1f1f;
  color: #ffffff;
  font-family: Arial, sans-serif;
}
.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  display: flex;  
  align-items: center; 
}
.footer-left a {
  margin-right: 1rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.footer-icon {
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-icon:hover {
  transform: scale(1.2);
  color: rgba(128, 128, 128, 1);
  fill: grey;
}
.footer-icon:active {
  transform: scale(1.1);
  color: rgba(160, 160, 160, 1);
}
.footer-right a {
  margin-left: 2rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.footer-right a:hover {
  color: rgba(128, 128, 128, 1);
}

.footer-line {
  border: 0;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.2);
  margin: 1rem 0;
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.6);
}
