@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #fff;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
} 
.currency {
    position: absolute;
    padding: 2px;
    transform-origin: center center;
    filter: blur(15px);
    animation: moving 20s linear infinite alternate;
    animation-delay: 0s;
    transform-origin: center center;
    transition: filter 0.3s ease, scale 0.4s ease;
    scale: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.currency:hover {
    filter: blur(0);
    scale: 1.3;
}
.currency::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 2px solid var(--border-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: -1;
    box-sizing: border-box;
}
.currency::after {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border: 0.5px solid var(--border-color);
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: -2;
}
.currency:hover::before , .currency:hover::after{
    opacity: 1;
    transform: scale(1);
}
.currency img{
  padding: 5px;
}
.priceWrapper {
  opacity: 0;
  filter: blur(15px);
  animation: priceMoving 20s linear infinite alternate;
  animation-delay: 0s;
  transform-origin: center center;
  transition: filter 0.3s ease, scale 0.4s ease,  opacity 0.3s ease;
  position: absolute;
  z-index: 2;
  color: #fff;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
}
.currency:hover + .priceWrapper {
  opacity: 1;
  scale: 1.3;
  filter: blur(0px);
}
.priceWrapper p span {
  display: block;
  text-align: center;
}

@keyframes moving {
  0%{
        transform: translateY(0) rotate(-45deg);

    }
  12.5%{
    transform: translateY(-15px) rotate(-22.5deg);

  }
  25%{
    transform: translateY(0) rotate(0);

  }
  37.5%{
    transform: translateY(-15px) rotate(22.5deg);

  }
  50%{
    transform: translateY(0) rotate(45deg);

  }
  62.5%{
    transform: translateY(-15px) rotate(22.5deg);
  }
  75%{
    transform: translateY(0) rotate(0);
  }
  87.5%{
    transform: translateY(-15px) rotate(-22.5deg);
  }
  100%{
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes priceMoving {
  0%{
      transform: translateY(0) ;

    }
  12.5%{
    transform: translateY(-15px) ;

  }
  25%{
    transform: translateY(0) ;

  }
  37.5%{
    transform: translateY(-15px);

  }
  50%{
    transform: translateY(0);

  }
  62.5%{
    transform: translateY(-15px);
  }
  75%{
    transform: translateY(0) ;
  }
  87.5%{
    transform: translateY(-15px) ;
  }
  100%{
    transform: translateY(0) ;
  }
}